<script>
	var images = ['df-08h.jpg','df-09h.jpg','df-10h.jpg','df-11h.jpg','df-12h.jpg'];
	for(var i in images) {
		var image = images[i];
		document.createElement('img').src = '/images/' + image;
	}
		
</script>

<link rel="stylesheet" href="css/index.css">

<article>
<div id="course">
<h3><img src="images/df-01.jpg"></h3>
<span>堅持不打價格戰、堅持優良師資群、堅持品質小班制</span>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" width="33%"><img src="images/df-02.jpg"><br><br><a href="<%=  instruction_path( Instruction.where( :name => '專業美容證照' ).first ) %>"></a></td>
    <td align="center" width="34%"><img src="images/df-03.jpg"><br><br><a href="<%= instruction_path( Instruction.where( :name => '美容美體實務' ).first ) %>"></a></td>
    <td align="center" width="33%"><img src="images/df-04.jpg"><br><br><a href="<%= instruction_path( Instruction.where( :name => '國際時尚造型' ).first ) %>"></a></td>
  </tr>
</table>
</div>
<div id="news">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="21%" valign="bottom"><img src="images/df-06.jpg" width="168" height="69"></td>
    <td width="79%"><ul>
    <% @entries.each do | entry | %>    	
    	<li><span><%= entry.created_at.strftime('%Y-%m-%d') %></span><a href="<%= entry_path( entry ) %>"><%= entry.title %> ... more</a></li>
    <% end %>
</ul></td>
  </tr>
</table>
</div>
<div id="professional">
<h3><img src="images/df-07.jpg"></h3>
<span>整合美容市場學習支援，開發多元化、多樣化教育類別，整合美容市場學習支援，開發多元化、多樣化教育類別</span>
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center" width="20%"><a id="p1" href="<%= page_pages_path( :pagename => 'professional') %>"></a></td>
    <td align="center" width="20%"><a id="p2" href="<%= page_pages_path( :pagename => 'professional', :anchor => 'prof-1' ) %>"></a></td>
    <td align="center" width="20%"><a id="p3" href="<%= page_pages_path( :pagename => 'professional', :anchor => 'prof-2' ) %>"></a></td>
    <td align="center" width="20%"><a id="p4" href="<%= page_pages_path( :pagename => 'professional', :anchor => 'prof-3' ) %>"></a></td>
    <td align="center" width="20%"><a id="p5" href="<%= page_pages_path( :pagename => 'professional', :anchor => 'prof-4' ) %>"></a></td>
  </tr>
</table>
</div>
<div id="products">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <th width="24%" align="center"><h3><img src="/images/df-13.jpg"><br><br><a href="<%= categories_path %>"></a></h3>
</th>
    <td width="12%">&nbsp;</td>
    <% @products.each do | product | %>
    <td width="16%" align="center"><img src="<%= product.cover.list %>" width="128" height="103"><br><a href="<%= category_product_path( product.category, product ) %>"><%= product.name %></a></td>
    <% end %>
  </tr>
</table>

</div>
<div id="job">
  <img src="images/df-15.png"></div>
</article>