
<header>
  <h2>會員列表</h2>
</header>
<article>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @members.each do |member| %>
      <tr>
        <td align="center"><%= member.username %></td>
        <td align="center"><%= member.email %></td>
        <td align="center"><%= member.tel %></td>
        <td align="center"><%= member.address %></td>
      </tr>
      <% end %>
      </table>
  </div>
  <div class="page"> <%= paginate @members %></div>
</article>