
  <div class="right">
  <h4>修改會員資料</h4>
  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <div class="content">
  
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
	  <tr>
	    <td width="15%">我的點數</td>
	    <td width="85%"><%= current_member.discountpoint %></td>
	  </tr>
	  <tr>
	    <td width="15%">中文姓名</td>
	    <td width="85%"><%= f.text_field :username, :class => 'text' %></td>
	  </tr>
	  <tr>
	    <td>電子郵件</td>
	    <td><%= f.email_field :email, :disabled => true, :class => 'text' %></td>
	  </tr>
	  <tr>
	    <td>手機號碼</td>
	    <td><%= f.text_field :tel, :class => 'text' %></td>
	  </tr>
	  <tr>
	    <td>新密碼</td>
	    <td><%= f.password_field :password, :autocomplete => "off", :class => 'text' %></td>
	  </tr>
	  <tr>
	    <td>確認新密碼</td>
	    <td><%= f.password_field :password_confirmation, :class => 'text' %></td>
	  </tr>
  </table>
  
  
  </div>
  <input name="" type="button" value="儲存" class="button bt">
  </div>
<% end %>

  
<script type="text/javascript">
$(".bt").click(function(){
  $(this).parents("form:first").submit();
});
</script>