
<link rel="stylesheet" href="/css/new.css">
<article id="new" _height='auto'>
  <div id="crumb"> <a href="<%= root_url %>">首頁</a> &gt; <a href="#">最新消息</a></div>
  <!--crumb--> 
    <% @entries_grouped.each do | date, entries | %>
  <div id="list">
  	<h3 class="date" style="font-weight: 600; font-size: 22px; font-family: Century;">{ <%= date.year %> }</h3>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    	<% entries.each do | entry | %>
		  <tr>
		    <td width="12%" class="date"><%= entry.created_at.strftime('%Y.%m.%d') %></td>
		    <td width="88%"><a href="<%= entry_path( entry ) %>"><%= entry.title %></a></td>
		  </tr>
		  <% end %>
   </table>

  </div> 
  <% end %>
  
</article>