
  <script src="/js/editor.js"></script>
  <script src="/js/editor_p.js"></script>
  <script src="/js/editor_img.js"></script>
  <script src="/js/editor_video.js"></script>

<link rel="stylesheet" href="/css/new.css">
<article id="new" _height='auto'>
  <div id="crumb"> <a href="<%= root_url %>">首頁</a> &gt; <a href="#">最新消息</a></div>
  <!--crumb-->
  <div class="left">
    <h3><img src="/images/nw-03.gif"></h3>
    <ul>
      <% @entries_grouped.each do | date, entries | %>
      <li class="active"><a href="<%= entries_path( :year => date.year ) %>"><%= date.year %> (<%= entries.count %>)</a></li>
      <% end %>
    </ul>
  </div>
  <div class="right">
    <div class="back"><a href="<%= entries_path %>"><   回上頁</a></div>
    <div class="hgroup">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="right" class="date"><% @entry.created_at.strftime('%Y-%m-%d') %></td>
        </tr>
        <tr>
          <td><a><%= @entry.title %></a></td>
        </tr>
      </table>
    </div>
    <article id="articleContent" class="peditor"></article>
  </div>
</article>


<input id="article_content" style="display:none;" type="text" value="<%= @entry.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>