
<link rel="stylesheet" href="/css/course.css">

<article id="course">
  <div id="crumb"> <a href="#">首頁</a> &gt; <a href="#">專業課程</a> &gt; <a href="#">國際時尚造型</a> </div>
  <!--crumb-->
  <ul class="tab">
    <li><a href="#">專業美容證照</a></li>
    <li><span>│</span></li>
    <li><a href="#">美容美體實務技術</a></li>
    <li><span>│</span></li>
    <li class="active"><a href="#">國際時尚造型</a></li>    
  </ul>
  <div class="intro">
      <h3>國際時尚造型</h3>
      <p>霏亞美容證照班通過率全國第一，重視實務，經驗豐富，教程標準統一，霏亞專業<br>
        美容證照班系列與您共創美好未來。</p>
    </div>
  <div class="list">
  	<section>
    <img src="/images/sample/image01.jpg">
<h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
    <section>
    <img src="/images/sample/image01.jpg">
    <h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
    <section>
    <img src="/images/sample/image01.jpg">
    <h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
    <section>
    <img src="/images/sample/image01.jpg">
    <h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
    <section>
    <img src="/images/sample/image01.jpg">
<h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
    <section>
    <img src="/images/sample/image01.jpg">
    <h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
    <section>
    <img src="/images/sample/image01.jpg">
    <h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
    <section>
    <img src="/images/sample/image01.jpg">
    <h4>特殊化妝與人體彩繪</h4>
    <p>課程介紹次標題：現今已是一張非常普及與極易取得的證照，但也是想要從事美容行業，或想要開設美容事業的必備證照，在業界我們都稱為『入門款』，這雖是...</p>
    <a class="more" href="<%= class_course_path( :class_id => 1, :id => 1 ) %>"></a>
    </section>
  </div>
</article>