
<header>
  <h2>專業課程</h2>
  <%= render 'menu' %>
</header>
<% if !@instruction.nil?  %>
<article>

	 <div class="title-show">
    <div class="button" id="button-up"> <a href="<%= edit_admin_instruction_path( @instruction ) %>" class="right">編輯簡介<img src="/images/edit-large.png"></a> <a href="<%= admin_instruction_path( @instruction ) %>" data-method="delete" data-confirm="確定刪除此分類？" class="right">刪除分類<img src="/images/trash.png"></a></div>
    <h3>分類簡介</h3>
    <div class="box">
    	<table>
	    	<tr>
		    	<td><p><%= @instruction.description %></p></td>
	    	</tr>
    	</table>      
    </div>
  </div>

 
  <div class="button" id="button-down"> <a href="<%= admin_instruction_courses_path( @instruction ) %>" data-method="post" class="right light">新增課程<img src="/images/add.png"></a></div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @courses.each do | course | %>      	
	      <tr class="<%= course.status != 'disable' ? '' : 'hidden' %>">
	        <td><%= image_tag('/images/hidden.png', :width => 16, :height => 16) if course.status != 'enable' %></td>
	        <td>剩餘 <%= course.quota.nil? ? 0 : course.quota %> 名額 </td>
	        <td><a href="<%= edit_admin_instruction_course_path( @instruction, course ) %>"><%= course.name %></a></td>
	        <td align="center">
	        	<% if course.sell.nil? && !course.price.nil? %>
	        		<%= course.price %>
	        	<% elsif !course.price.nil? %>
	        		<del><%= course.price %></del> <%= course.sell %> 
	        	<% end %>
	        	</td>
	        <td align="center"><a href="<%= switch_admin_instruction_course_path( @instruction, course, :page => params[ :page ] ) %>"><%= course.status == 'disable' ? '顯示' : '隱藏' %></a></td>
	        <td align="center"><%= course.created_at.strftime( '%Y-%m-%d' ) %></td>
	      </tr>
      <% end %>
    </table>
  </div>
  <div class="page">  <%= paginate @courses %> </div>
</article>
<% end %>