<section class="content" id="sv-order">
	<h3>訂單管理
		<a href="/admin/orders?type=new" class="<%= 'active' if params[:type] == 'new' %>">未處理訂單(<%= @countnew %>)</a>
		<a href="/admin/orders?type=processing" class="<%= 'active' if params[:type] == 'processing' %>">處理中訂單(<%= @countprocessing %>)</a>
		<a href="/admin/orders?type=finish" class="<%= 'active' if params[:type] == 'finish' %>">已處理訂單</a></h3>

		<%= render 'list' %>
</section>

<script type="text/javascript">
$("div.side").eq(1).find("img").attr("src","/images/li-open.png");
</script>