<div id="WRAPPER">
	<div id="SIDE">
		<ul>
			<li><a href="/admin/orders?type=new">新訂單(<%= @countnew %>)</a></li>
			<li><a href="/admin/orders?type=processing">處理中(<%= @countprocessing %>)</a></li>
			<li><a href="/admin/orders?type=finish">已完成</a></li>
		</ul>
	</div>
	<div id="CONTENT">
		<% case params[:type] %>
		<% when 'new' %>
		<% @status = "新訂單" %>
		<% when 'processing' %>
		<% @status = "處理中訂單" %>
		<% when 'finish' %>
		<% @status = "已完成訂單" %>
		<% else %>
		<% @status = "新訂單" %>
		<% end %>
		<p><%= @status %>列表</p>

		<% if @orders.length>0 %>

		<% @orders.each do |order| %>
		<p><%= order.created_at.strftime("%Y-%m-%d %H:%M") %> <%= order.buyername %>, <%= link_to (order.ordernum+" : 共"+order.orderitems.count.to_s+"件商品"), admin_order_path(order) %>。</p>
		<% end %>

		<% else %>
		<p>沒有訂單。</p>
		<% end %>
	</div>
</div>