<div id="WRAPPER">
	<div id="SIDE">
		<ul>
			<li><a href="/admin/orders?type=new">新訂單(<%= @countnew %>)</a></li>
			<li><a href="/admin/orders?type=processing">處理中(<%= @countprocessing %>)</a></li>
			<li><a href="/admin/orders?type=finish">已完成</a></li>
		</ul>
	</div>
	<div id="CONTENT">
		<% if @order.errors.any? %>
		<p style="color:red">
			<% @order.errors.full_messages.each do |message| %>
			<%= message %><br>
			<% end %>
		</p>
		<% end %>

		<p>下單時間 : <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
		<p>訂購者 : <%= @order.buyername %> 電話 : <%= @order.buyertel %></p>
		<p>email : <%= @order.email %></p>
		<p>收件者 : <%= @order.receivername %> 電話 : <%= @order.receivertel %></p>
		<p>收件地址 : <%= @order.receiveraddress %></p>
		<p>統編 : <%= (@order.companynum.length == 0) ? "未填寫。" : @order.companynum %></p>
		<p>發票 : <%= @order.invoicetype %></p>
		<p>付款方式 : <%= @order.paytype %></p>

		<div class="box">
			<p>明細 : </p>
			<% @ordersum = 0 %>
			<% @order.orderitems.select('orderitems.*, products.name').joins('LEFT OUTER JOIN products on products.id = orderitems.product_id').each do |item| %>
			<% itemsum = item.itemprice.to_i * item.amount.to_i %>
			<% @ordersum = @ordersum + itemsum %>

			<p><%= link_to item.name, product_path(item.product_id) %> : $<%= item.itemprice %> / 訂購數量 : <%= item.amount %> = $<%= itemsum %></p>
			<% end %>

			<p>運費 : <%= @order.shippingfee %></p>
			<p>訂單金額 : <%= @ordersum + @order.shippingfee %></p>

			<p>訂單狀態 :
				<% case @order.status %>
				<% when 'new' %>
				<%= "新訂單" %>
				<% when 'processing' %>
				<%= "處理中" %>
				<% when 'finish' %>
				<%= "已完成" %>
				<% end %>
			</p>

			<% if (@order.status=="finish") %>
			<p>運送方式 : <%= @order.shippingway %></p>
			<p>追蹤碼 : <%= @order.shippingcode %></p>
			<% end %>
		</div>

		<%= form_for(@order, :url => admin_order_path(@order) ) do |f| %>
		<p>更改訂單狀態 : <%= f.select(:status, options_for_select([["新訂單", "new"],["處理中", "processing"],["已完成", "finish"]], :selected => @order.status)) %></p>

		<div id="orderfinish" style="display:none;">
			<p>運送方式 : <%= f.select(:shippingway, options_for_select([["請選擇運送方式", ""],["宅配", "宅配"],["郵寄", "郵寄"]]) ) %></p>
			<p>追蹤碼 : <%= f.text_field :shippingcode %></p>
		</div>

		<%= f.submit %>
		<% end %>

		<br>
		<a href="/admin/orders?type=<%= @order.status %>">回訂單列表</a>
	</div>
</div>

<script type="text/javascript">
$("#order_status").change(function(){
	if($(this).val() == "finish"){
		$("#orderfinish").show();
	}
	else{
		$("#orderfinish").hide();
	}
});
</script>