<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>霏亞國際美容機構</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style-m.css">
<link rel="stylesheet" href="/css/enter.css">

<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>

<script src="/js/auto-full-height.min.js"></script>
</head>

<body>
<header _height='none'>
  <div id="top"> <img src="/images/mb-02.png"> <a id="back" href="<%= root_url %>">回首頁 &gt;</a></div>
</header>
<article _height='auto'>
  <div class="left">
    <h3 style="color: #00b1ae;font: 300 19px verdana; padding-top: 28px;">{ 重設密碼 }</h3>
    
    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
    	<%= devise_error_messages! %>
  
		    <table width="100%" border="0" cellspacing="0" cellpadding="0">
		      <tr>
		        <td colspan="2"><%= f.email_field :email, :autofocus => true, :class => 'text', :placeholder => "請輸入您想查詢的電子郵件" %></td>
		      </tr>
		      <tr>
		        <td colspan="2" align="right" class="button"><a href="/members/sign_up">註冊</a><a id="submit" href="#"> 寄送信函 </a><a href="/">取 消</a></td>
		      </tr>
		    </table>
    
		<% end %>
  </div>
  <div class="right">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><h3><img src="/images/mb-06.png"></h3></td>
    <td><div class="button"><a href="/members/sign_up">註冊</a></div></td>
  </tr>
</table>   
  </div>
</article>
<%= render 'layouts/footer' %>
</body>
</html>



<script type="text/javascript">
$("#submit").click(function(){
	$("#new_member").submit();
});
</script>
