<% if @orderItems && @orderItems.length>0 %>

<article _height='auto'>
  <div id="step"><img src="/images/sc-04.jpg"></div>
  <div id="content">
    <div id="detail">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="20%" align="center">圖片</th>
          <th width="12%" align="center">明細</th>
          <th width="22%" align="center">數量</th>
          <th width="10%" align="center">單價</th>
          <th width="10%" align="center">折扣價</th>
          <th width="10%" align="center">小計</th>
          <th width="8%" align="center">庫存</th>
        </tr>
        
		  <% @orderPrice = 0 %>
		  <% @orderItems.each do |item| %>

		  <% @itemSum = ( !item[:saleprice].nil? && item[:saleprice] > 0 ? item[:saleprice].to_i : item[:price].to_i) * item[:amount].to_i %>
      <%# @itemSum = item[:price].to_i * item[:amount].to_i %>
		  <% @orderPrice = @orderPrice + @itemSum %>
		  <tr>
		    <td align="center"><%= item[:image] ? image_tag("/uploads/product/"+item[:image], :style => 'max-width: 100px;') : "未上傳圖片。" %></td>
		    <td align="center"><%= item[:name] + ( !item[:typename].nil? && item[:typename] != '未指定' ? ' （ '+ item[:typename] + '）' : '' ) %></td>
		    <td align="center" class="count"><%= item[:amount] %></td>
		    <td align="center"><%= item[:price] %></td>
		    <td align="center"><%= !item[:saleprice].nil? && item[:saleprice] > 0 ? item[:saleprice].to_i : item[:price].to_i %></td>
		    <td align="center"><%= @itemSum %></td>
		    <td align="center">有</td>
		  </tr>
		  <% end %>
      </table>
    </div>
    <div id="check">
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
      
        <tr>
          <td width="80%">&nbsp;</td>
          <td width="10%">購物小計</td>
          <td width="10%" align="right">NT$ <%= @orderPrice %></td>
        </tr>
        <tr>
          <td width="80%">&nbsp;</td>
          <td width="10%">運費</td>
          <td width="10%" align="right">NT$ <%= @orderPrice > 2000 ? '<del class="shippingfee">95</del>'.html_safe : '<span class="shippingfee">95</span>'.html_safe %></td>
        </tr>
        <tr>
          <td width="80%">&nbsp;</td>
          <td width="10%" class="total">訂單總計</td>
          <td width="10%" align="right" class="total">NT$ <span class="orderprice"><%= @orderPrice > 2000 ? @orderPrice : @orderPrice + 95 %></span></td>
        </tr>
      </table>
    </div>
  </div>
  <!--content-->
  <%= form_for(@order) do |f| %>
  <div id="info">
  
    
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="10%" valign="top" class="way">郵局貨到付款</td>
        <td width="5%" align="center" valign="top"><input data-fee="95" type="radio" name="order[paytype]" class="radio" value="貨到付款" checked ></td>
        <td width="85%" valign="top">宅配貨到付款，將酌收 95 元物流費。若單筆購物滿 2000 元，即享有免運費優惠（「貨到付款」服務僅限台灣本島）。</td>
      </tr>
      <tr>
        <td valign="top" class="way">郵局匯款</td>
        <td align="center" valign="top"><input data-fee="65" type="radio" name="order[paytype]" class="radio" value="匯款"></td>
        <td valign="top" style="line-height:1.7em">宅配一般付款，請至先匯款，將酌收 65 元物流費。若單筆購物滿 2000 元，即享有免運費優惠。<br>
          ※ 匯款戶名：霏亞國際管理顧問有限公司　　永豐銀行-鶯歌分行(代碼 807-1402)　　帳號：140-001-00396667</td>
      </tr>
    </table>
    
    
	<input type="hidden" name="orderItems" value="<%= @orderItems.to_json %>">

    <div id="form">
      <h3>填寫您的資料
        <input name="" name="updateMemberinfo" type="checkbox" value="" class="checkbox">
        <span>更新為會員資料</span></h3>
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="9%" align="left">中文姓名</th>
          <td width="24%"><%= f.text_field :buyername, :value => current_member.username, :class => 'text' %></td>
          <td width="67%">&nbsp;</td>
        </tr>
        <tr>
          <th align="left">電子郵件</th>
          <td><input type="text" class="text" value="<%= current_member.email %>" disabled></td>
          <td>&nbsp;</td>
        </tr>
        <tr>
          <th align="left">手機號碼</th>
          <td><%= f.text_field :buyertel, :value => current_member.tel, :class => 'text' %></td>
          <td>&nbsp;</td>
        </tr>
      </table>
      
      
      
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <th width="9%" align="left">發票資訊</th>
          <td colspan="5"><span>※ 依統一發票使用辦法規定：個人戶（二聯式）發票一經開立，不得任意更改為公司戶（三聯式）發票。</span></td>
        </tr>
		<tr>
		  <td>&nbsp;</td>
		  <th width="7%" align="left">發票</th>
		  <td width="21%"><%= f.select :invoicetype, options_for_select([["二聯式", "二聯式"], ["三聯式", "三聯式"]]) %></td>
		</tr>
        <tr>
          <td>&nbsp;</td>
          <th width="7%" align="left">統一編號</th>
          <td width="21%"><%= f.text_field :companynum, :class => 'text' %></td>
          <th width="7%" align="left">發票抬頭</th>
          <td width="21%"><%= f.text_field :invoicename, :class => 'text' %></td>
          <td width="35%">&nbsp;</td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td colspan="5" align="left"><span><a href="#">電子發票說明</a> ，核准文號：北區國稅北縣三字第0980023790號</span></td>
        </tr>
      </table>
    </div>
    <!--form-->
    
    <h4>收件人資訊
      <input type="checkbox" class="checkbox" id="asBuyer">
      <span>同訂購人</span></h4>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="9%" align="left">中文姓名</th>
        <td width="24%"><%= f.text_field :receivername, :class => 'text' %></td>
        <td width="67%">&nbsp;</td>
      </tr>
      <tr>
        <th align="left">手機號碼</th>
        <td><%= f.text_field :receivertel, :class => 'text' %></td>
        <td>&nbsp;</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th width="9%" align="left">送貨地址</th>
        <td width="58%"><%= f.text_field :receiveraddress, :value => current_member.receiveaddress, :class => 'text' %></td>
        <td width="33%">&nbsp;</td>
      </tr>
      	<% if current_member.addressbooks.count > 0 %>
      <tr>
	      <th>
	      	常用地址：<br/>
      	</th>
      	<td>	      	
	      	<% current_member.addressbooks.each do |addressbook| %>
	      		<span><a href="#" class="addressbook"><%= addressbook.address %></a></span><br/>
	      	<% end %>
      	</td>
      </tr>
      	<% end %>
      <tr>
        <td>&nbsp;</td>
        <td><input type="checkbox" name="addAddressbook" class="checkbox">
          加入常用地址
         <input type="checkbox" name="setDefault" class="checkbox">
          設為預設地址</td>
        <td>&nbsp;</td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td colspan="2"><input type="checkbox" name="check" class="checkbox">
         我已仔細閱讀並明瞭「網站使用條款」、「隱私權政策」、「免責聲明」等所載內容及其意義，<br>
          茲同意該等條款規定，並願遵守網站現今、嗣後規範的各種規則。</td>
      </tr>
    </table>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right" class="button">  <a href="<%= categories_path %>" id="back">繼續購物</a><a href="/orders/cart" id="prev">上一步</a><a href="#" id="next">下一步</a> </td>
      </tr>
    </table>
  </div>
</article>


<% end %>
<!-- the end of the form -->



<script type="text/javascript">
$("ul.step>li").eq(2).addClass("active");

if("<%= alert %>"){
  alert("<%= alert %>");
}

$(".radio").click(function(){
	var shippingfee = parseInt($(this).data("fee"));
	$("span.orderprice").text(parseInt("<%= @orderPrice %>") + (<%= @orderPrice %> > 2000 ? 0 : shippingfee) );
	$(".shippingfee").text(shippingfee);
});

$("#asBuyer").change(function(){
	if($(this).prop('checked')){
		$("#order_receivername").val($("#order_buyername").val());
		$("#order_receivertel").val($("#order_buyertel").val());
	}
	else{
		$("#order_receivername").val("");
		$("#order_receivertel").val("");
	}
});

$(".addressbook").click(function(event){
	event.preventDefault();
	$("#order_receiveraddress").val($(this).html());
});

$("#next").click(function(){
	$("#new_order").submit();
});
</script>

<% else %>
<script type="text/javascript">
window.location.href = "/orders/cart";
</script>
<% end %>