<link rel="stylesheet" href="/css/join.css">

<style>
	.field_with_errors input {
		border:  red 2px solid!important;
	}
	
</style>

<script>
	<% if dialog %>	
	
		Alertify.dialog.alert("<%= dialog %>");
	
	<% end %>
</script>


<article id="join">
  <div id="crumb"> <a href="<%= root_url %>">首頁</a> &gt; <a href="#">加盟資訊</a></div>
  <!--crumb--> 
  <div id="content">
  <div id="intro">
  	<p>堅強的團隊進駐，讓你不再漏失學生，不再侷限人數開班，省去尋找老師所花費的時間與金錢！協助培養師資，無需花費大筆的金錢就能讓你習得所有專業技能，不定時舉辦發表會，新課程研習會，教育流程條規化，講義內容豐富多樣，區隔坊間以價格來練經驗的初學者，所有師資群都經過國家考試與公司嚴格挑選並經過內部艱辛的訓練。
    </p>
    </div>
    <div id="form">
    <%= form_for @ticket do | f | %>
    	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <th width="19%" valign="top">姓 名</th>
		    <td width="81%"><%= f.text_field :name, :style => 'width:205px'  %></td>
		  </tr>
		  <tr>
		    <th valign="top">聯絡電話</th>
		    <td><%= f.text_field :phone, :style => 'width:205px' %></td>
		    </tr>
		  <tr>
		    <th valign="top">電子郵件</th>
		    <td><%= f.text_field :email %></td>
		  </tr>
		  <tr>
		    <th valign="top">通訊地址</th>
		    <td><%= f.text_field :address %></td>
		  </tr>
		  <tr>
		    <th valign="top">其 他</th>
		    <td><%= f.text_area :comment, :cols => 25, :rows => 10 %></td>
		  </tr>
		  <tr>
		    <td colspan="2"><img src="/images/ju-03.gif"></td>
		    </tr>
		  <tr>
		    <td colspan="2" align="center"><input name="" onclick="document.forms[0].submit();" type="button" id="send"></td>
		    </tr>
		</table>
	<% end %>

   	</div>
  </div> 
</article>