
<div class="right">
<h4>訂單明細　<%= @order.ordernum %> <a href="#" style="color:#3cabd0" id="orderrefund">聯絡客服</a></h4>
<div class="content">
		<% if @order %>
		<%= form_for(@orderrefund, :url => refund_service_order_path(@order), :html => { :style => "display:none;" }) do |f| %>
		<div class="info-content">  
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	        <tr>
	          <td width="80%" align="left" valign="top">
	          	<%= f.text_area :description, :placeholder => "填寫您的問題，我們將進快與您連絡", :columns=>"", :rows => "" %>
	          </td>
	        </tr>
	    </table>
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <td width="100%" class="bt"><a href="#" >確認送出</a></td>
	      </tr>
	    </table>
	    </div>
		<% end %>
	
		<div class="order-list">
			<table style="margin-bottom: 24px;" width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td width="64%"><h4>商品名稱</h4></td>
					<td width="12%"><h4>單價</h4></td>
					<td width="12%"><h4>數量</h4></td>
					<td width="12%"><h4>訂單金額</h4></td>
				</tr>
	
				<% @ordersum = 0 %>
				<% @order.orderitems.select('orderitems.*, stocks.product_id as productlink').joins('LEFT OUTER JOIN stocks on stocks.id = orderitems.stock_id').each do |item| %>
				<% itemsum = item.itemprice.to_i * item.amount.to_i %>
				<% @ordersum = @ordersum + itemsum %>
				<tr>
					<td><%= item.itemname  + ( !item.itemtype.nil? && item.itemtype != '未指定' ? ' ( '+ item.itemtype + ' )' : '' ) %></td>
					<td><%= item.itemprice %></td>
					<td><%= item.amount %></td>
					<td><%= itemsum %></td>
				</tr>
				<% end %>
				<tr>
					<th style="padding: 24px 0px; border-bottom: 1px solid; border-top: 1px dashed;" colspan="5" align="left">購物小計: <%= @ordersum %> / 運費小計: <%= @ordersum > 2000 ? 0 : @order.shippingfee %> / 訂單總計: <%= @ordersum + (@ordersum > 2000 ? 0 : @order.shippingfee) %></th>
				</tr>
			</table>
	
			<h4>處理狀態</h4>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<td colspan="5" style="padding:15px 0 15px 15px;color:#3cabd0">
						<span href="#" class="active">
							<% case @order.status %>
							<% when 'new' %>
							<%= "新訂單" %>
							<% when 'check' %>
							<%= "已收款" %>
							<% when 'processing' %>
							<%= "處理中" %>
							<% when 'deliver' %>
							<% if @order.shippingway == "宅配" %>
							<% @link = "http://www.t-cat.com.tw/Inquire/Trace.aspx?no=" + @order.shippingcode %>
							<% else %>
							<% @link = "http://postserv.post.gov.tw/webpost/CSController?cmd=POS4001_1&_ACTIVE_ID=190" %>
							<% end %>
	
							<%="已出貨" %><%= link_to "貨單追蹤查詢", @link, :target => "_blank" %>
							
							<% when 'cancel' %>
							<%= "已取消" %>
							<% end %>
						</span>
					</td>
				</tr>
	
				<% if (@order.status=="deliver") %>
				<tr>
					<td colspan="5" style="padding:15px 0 15px 15px;color:#3cabd0">
						運送方式 : <%= @order.shippingway %> / 追蹤碼 : <%= @order.shippingcode %> 
					</td>
				</tr>
				<% end %>
	
			</table>
		</div>
	
		<% if (@order.orderlogs.count>0) %>
		<div class="order-log">
			<h4>訂單狀態</h4>
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<% @order.orderlogs.each do |log| %>
				<tr>
					<td width="30%" align="center"> - <%= log.created_at.strftime("%Y-%m-%d %H:%M") %>：</td>
					<td width="70%"><%= log.description %></td>
				</tr>
				<% end %>
			</table>
		</div>
		<% end %>
	
		<% if (@order.paytype == "匯款" && !@order.payaccount && @order.status == "new" ) %>
		<div class="order-check">
			<h4>匯款後登錄確認</h4>
			<%= form_for(@order, :url => service_order_path(@order)) do |f| %>
			
			<% if @order.errors.any? %>
			<div id="error_explanation">
				<% @order.errors.full_messages.each do |msg| %>
				<p><%= msg %></p>
				<% end %>
			</div>
			<% end %>
	
			<table width="100%" border="0" cellspacing="0" cellpadding="0">
				<tr>
					<th align="left">請輸入匯款帳號後五碼</th>
					<td>
						<%= f.text_field :payaccount, :class => 'text' %>
					</td>
				</tr>
				<tr>
					<th align="left">匯款時間</th>
					<td>
						<%= f.text_field :paydate, :value => Date.today.strftime("%Y-%m-%d"), :class => 'text', :style => 'width: 100px;' %>
						<%= f.select(:paytime, options_for_select([["上午0-1時"],["上午1-2時"],["上午2-3時"],["上午3-4時"],["上午4-5時"],["上午5-6時"],["上午6-7時"],["上午7-8時"],["上午8-9時"],["上午9-10時"],["上午10-11時"],["上午11-12時"],["下午12-13時"],["下午13-14時"],["下午14-15時"],["下午15-16時"],["下午16-17時"],["下午17-18時"],["下午18-19時"],["下午19-20時"],["下午20-21時"],["下午21-22時"],["下午22-23時"],["下午23-24時"]]) ) %>
					</td>
				</tr>
			</table>
			
			<% end %>
		</div>
		
		<% end %>
	
	<script type="text/javascript">
	if("<%= alert %>"){
		alert("<%= alert %>");
	}
	$("#submit, .bt>a").click(function(event){
		event.preventDefault();
		$(this).parents("form:first").submit();
	});
	$("#orderrefund").click(function(event) {
		Alertify.dialog.prompt('請寫下您的問題', function(data) { 
			
			if ( data.length <= 0  ) {
				Alertify.dialog.alert( '您沒有輸入問題，操作取消。' );
				return;
			}
			$('#orderrefund_description').val(data);
			$('#new_orderrefund').submit();
		
		 })
	});
	$( "#order_paydate" ).datepicker().change(function(){
	  $(this).datepicker("option", "dateFormat", "yy-mm-dd");
	
	  //compare the date
	  if(new Date($(this).val()) > new Date()){
	  	$(this).val('<%= Date.today.strftime("%Y-%m-%d") %>');
	    alert("請填寫正確的匯款日期");
	  }
	});
	</script>
	
	<% else %>
	<p>找不到該筆訂單。</p>
	<% end %>
	
</div>
			<% if (@order.paytype == "匯款" && !@order.payaccount && @order.status == "new" ) %>
			<a href="#" class="button" style="float: right;" id="submit">確認送出</a>
			<% end %>
</div>

<section class="content" id="mb-order">
</section>