<% if @order %>
<div class="box">
<a href="#">退貨申請</a>
<%= form_for(@orderrefund, :url => refund_service_order_path(@order)) do |f| %>
	<p>原因描述：</p>
	<p><%= f.text_area :description, :rows => "5" %></p>
	<%= f.submit %>
<% end %>
</div>

<p>下單時間 : <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
<p>訂購者 : <%= @order.buyername %> 電話 : <%= @order.buyertel %></p>
<p>收件者 : <%= @order.receivername %> 電話 : <%= @order.receivertel %></p>
<p>收件地址 : <%= @order.receiveraddress %></p>
<p>統編 : <%= (@order.companynum.length == 0) ? "未填寫。" : @order.companynum %></p>
<p>發票 : <%= @order.invoicetype %></p>
<p>付款方式 : <%= @order.paytype %></p>
<% if @order.payaccount %>
<p>付款日期 : <%= @order.paydate %></p>
<p>付款時間 : <%= @order.paytime %></p>
<p>付款帳號末五碼 : <%= @order.payaccount %></p>
<% end %>

<% if (@order.paytype == "匯款" && !@order.payaccount ) %>
<div class="box">
	<h4>通知已匯款</h4>

	<%= form_for(@order, :url => service_order_path(@order)) do |f| %>
	<p>匯款日期：<%= f.text_field :paydate %></p>
	<p>匯款時間：<%= f.text_field :paytime %></p>
	<p>匯款帳號末五碼：<%= f.text_field :payaccount %></p>
	<%= f.submit %>
	<% end %>

</div>
<% end %>

<div class="box">	
	<p>明細 : </p>
	<% @ordersum = 0 %>
	<% @order.orderitems.select('orderitems.*, products.name, stocks.typename, stocks.product_id as productlink').joins('LEFT OUTER JOIN stocks on stocks.id = orderitems.stock_id').joins("LEFT OUTER JOIN products on products.id = stocks.product_id").each do |item| %>
	<% itemsum = item.itemprice.to_i * item.amount.to_i %>
	<% @ordersum = @ordersum + itemsum %>

	<p><%= link_to (item.name + ((item.typename && item.typename != "default") ? ("("+item.typename+")") : "") ), product_path(item.productlink) %> : $<%= item.itemprice %> / 訂購數量 : <%= item.amount %> = $<%= itemsum %></p>
	<% end %>

	<p>運費 : <%= @order.shippingfee %></p>
	<p>抵用購物金 : -<%= @order.discount.to_s %></p>
	<p>訂單金額 : <%= @ordersum + @order.shippingfee - @order.discount %></p>

	<p>訂單狀態 : 
		<% case @order.status %>
		<% when 'new' %>
		<%= "新訂單" %>
		<% when 'processing' %>
		<%= "處理中" %>
		<% when 'finish' %>
		<%= "已完成" %>
		<% end %>
	</p>

	<% if (@order.orderlogs) %>
	<% @order.orderlogs.each do |log| %>
	<p><%= log.created_at.strftime("%Y-%m-%d %H:%M") %> : <%= log.description %></p>
	<% end %>
	<% end %>
</div>

<% if (@order.status=="finish") %>
<p>運送方式 : <%= @order.shippingway %></p>
<p>追蹤碼 : <%= @order.shippingcode %></p>
<% end %>

<% else %>
<p>找不到該筆訂單。</p>
<% end %>