<% if @order %>
<p>下單時間 : <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
<p>訂購者 : <%= @order.buyername %> 電話 : <%= @order.buyertel %></p>
<p>收件者 : <%= @order.receivername %> 電話 : <%= @order.receivertel %></p>
<p>收件地址 : <%= @order.receiveraddress %></p>
<p>統編 : <%= (@order.companynum.length == 0) ? "未填寫。" : @order.companynum %></p>
<p>發票 : <%= @order.invoicetype %></p>
<p>付款方式 : <%= @order.paytype %></p>
<div class="box">	
	<p>明細 : </p>
	<% @ordersum = 0 %>
	<% @order.orderitems.select('orderitems.*, products.name, stocks.typename, stocks.product_id as productlink').joins('LEFT OUTER JOIN stocks on stocks.id = orderitems.stock_id').joins("LEFT OUTER JOIN products on products.id = stocks.product_id").each do |item| %>
	<% itemsum = item.itemprice.to_i * item.amount.to_i %>
	<% @ordersum = @ordersum + itemsum %>

	<p><%= link_to (item.name + ((item.typename && item.typename != "default") ? ("("+item.typename+")") : "") ), product_path(item.productlink) %> : $<%= item.itemprice %> / 訂購數量 : <%= item.amount %> = $<%= itemsum %></p>
	<% end %>

	<p>訂單金額 : <%= @ordersum %></p>

	<p>訂單狀態 : 
		<% case @order.status %>
		<% when 'new' %>
		<%= "新訂單" %>
		<% when 'processing' %>
		<%= "處理中" %>
		<% when 'finish' %>
		<%= "已完成" %>
		<% end %>
	</p>
</div>

<% if (@order.status=="finish") %>
<p>運送方式 : <%= @order.shippingway %></p>
<p>追蹤碼 : <%= @order.shippingcode %></p>
<% end %>

<% else %>
<p>找不到該筆訂單。</p>
<% end %>