
<header>
  <h2>客服管理</h2>
 
</header>
<article>
  
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <% @orderrefunds.each do |orderrefund| %>
      <tr>
        <td width="5%">&nbsp;</td>
        <td width="17%"><%= link_to orderrefund.ordernum, admin_order_path(orderrefund.order_id), :target => "_blank" %></td>
        <td width="53%"><%= simple_format(orderrefund.description.html_safe) %></td>
        <td width="7%" align="center">
			<%if orderrefund.status =='未處理' %>
			<%=link_to "設為已處理", done_admin_orderrefund_path(orderrefund), :method => :post, data: { confirm: "確定將此留言設為已處理?" } %>
			<% else %>
			<%= orderrefund.status %>
			<% end %>
		</td>
        <td width="18%" align="center"><%= orderrefund.created_at.strftime("%Y-%m-%d %H:%M") %></td>
      </tr>
      <% end %>
    </table>
  </div>
  <div class="page"> <%= paginate @orderrefunds %></div>
</article>


<script type="text/javascript">
$("div.side").eq(2).find("img").attr("src","/images/li-open.png");
</script>