<section class="content" id="sv-service">
	<h3>客服管理<a href="/admin/orderrefunds?type=done" <%= 'class=active' if(@status=='已處理') %> >已處理</a><a href="/admin/orderrefunds?type=new" <%= 'class=active' if(@status=='未處理') %> >未處理</a></h3>
	<div class="service-content">
		<table width="100%" border="0" cellspacing="0" cellpadding="0">
			<tr>
				<th width="20%" align="center">申請日期</th>
				<th width="20%" align="center">訂單編號</th>
				<th width="50%" align="left">訊息內容</th>
				<th width="10%" align="center">處理狀態</th>
			</tr>
			<% @orderrefunds.each do |orderrefund| %>
			<tr>
				<td align="center"><%= orderrefund.created_at.strftime("%Y-%m-%d %H:%M") %></td>
				<td align="center"><%= link_to orderrefund.ordernum, admin_order_path(orderrefund.id) %></td>
				<td align="left"><%= simple_format(orderrefund.description.html_safe) %></td>
				<td align="center">
					<%if orderrefund.status =='未處理' %>
					<%=link_to "設為已處理", done_admin_orderrefund_path(orderrefund), :method => :post %>
					<% else %>
					<%= orderrefund.status %>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</section>

<script type="text/javascript">
$("div.side").eq(2).find("img").attr("src","/images/li-open.png");
</script>