
  <div class="left">
    <h3><img src="/images/mb-05.png"></h3>
        	

	<script>
		<% if flash[ :notice ] %>	
		
			Alertify.dialog.alert("<%= flash[ :notice ] %>");
		
		<% end %>
	</script>
    
    
	<%= form_for(resource, :as => resource_name, :url => member_session_path()) do |f| %>	    
	    <table width="100%" border="0" cellspacing="0" cellpadding="0">
	      <tr>
	        <td colspan="2"><%= f.email_field :email, :autofocus => true, :class => 'text', :placeholder => "電子郵件" %></td>
	      </tr>
	      <tr>
	        <td width="50%"><%= f.password_field :password, :placeholder => "密碼", :class => 'text', :style => 'width:95%' %></td>
	        <td width="50%"><a href="<%= new_password_path(:member) %>">忘記密碼</a></td>
	      </tr>
	      <tr>
	        <td colspan="2">&nbsp;</td>
	      </tr>
	      <tr>
	        <td colspan="2" align="right" class="button"><a id="submit" href="#">登 入</a><a href="/">取 消</a></td>
	      </tr>
	    </table>

	<% end %>
  </div>
  <div class="right">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td align="center"><h3><img src="/images/mb-06.png"></h3></td>
    <td><div class="button"><a href="/members/sign_up">註冊</a></div></td>
  </tr>
</table>   
  </div>
  
  
<script type="text/javascript">
$("#submit").click(function(){
	$("#new_member").submit();
});
</script>