
<header>
      <h2>商品管理</h2>
  <%= render 'menu' %>
</header>

<%  if !@category.nil? %>
<article>
  <div class="button" id="button-down"> <a href="<%= admin_category_products_path( @category ) %>" data-method="post" class="right light">新增商品<img src="/images/add.png"></a> <a href="<%= admin_category_path( @category ) %>" data-method="delete" data-confirm="確定刪除此分類？" class="right">刪除分類<img src="/images/trash.png"></a></div>
  <div class="list">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <% @products.each do | product | %>      	
	      <tr class="<%= product.status != 'disable' ? '' : 'hidden' %>">
	        <td><% image_tag('images/hidden.png', :width => 16, :height => 16) if product.status != 'enable' %></td>
	        <td><a href="<%= edit_admin_category_product_path( @category, product ) %>"><%= product.name || '尚未設定名稱' %></a></td>
	        <td align="center"><%= product.created_at.strftime( '%Y-%m-%d' ) %></td>
	        <td>
		        <%= product.status %>
	        </td>
	      </tr>
      <% end %>
    </table>
  </div>
  <div class="page"> 
	  <%= paginate @products, :theme => 'page' %></div>
</article>
<% end %>