<% if @product.errors.any? %>
<div id="error_explanation">
  <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

  <ul>
    <% @product.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="new-content">
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td width="50%" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="21%">商品名稱：</td>
            <td width="79%"><%= f.text_field :name %></td>
          </tr>
          <tr>
            <td>商品訂價：</td>
            <td><%= f.number_field :price %></td>
          </tr>
          <tr>
            <td>商品折扣價：</td>
            <td><%= f.number_field :saleprice %></td>
          </tr>
          <tr>
            <td colspan="2">
              <a href="#">編輯商品庫存量</a>
            </td>
          </tr>
        </table>
      </td>
      <td width="50%" valign="top">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td width="24%">商品主圖照片</td>
            <td width="76%"><input name="" type="file"></td>
          </tr>
          <tr>
            <td colspan="2" class="preview">&nbsp;</td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
  <table width="100%" border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>產品說明：</td>
    </tr>
    <tr>
      <td><%= f.text_area :description %></td>
    </tr>
  </table>
</div>

<div class="new-send">
  <a href="#" id="submit">確認送出</a>
</div>

<script type="text/javascript">
$("#submit").click(function(){
  $(this).parents("form:first").submit();
});
</script>