<section class="content" id="sv-product-list">
	<h3>商品管理</h3>

	<%= render 'list' %>

	<div class="new-top">
		<h3>編輯商品<a href="#" class="active">上架</a><a href="#">下架</a></h3>
	</div>

	<%= form_for(@product, :url => admin_product_path(@product)) do |f| %>
	<%= render :partial => 'form', :locals => { :f => f} %>
	<% end %>
</section>

<script type="text/javascript">
if("<%= notice %>"){
	alert("<%= notice %>");
}
$("div.side").eq(0).find("img").attr("src","/images/li-open.png");
</script>