
  <script src="/js/editor.js"></script>
  <script src="/js/editor_p.js"></script>
  <script src="/js/editor_img.js"></script>
  <script src="/js/editor_video.js"></script>

<link rel="stylesheet" href="/css/course.css">

<article id="course">
  <%= render 'instructions/intro' %>
  <div class="content">
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="61%" valign="top" id="cover"><%= image_tag @course.cover %></td>
        <td width="39%" valign="top"><h4><%= @course.name %></h4>
          <p><%= @course.description.gsub(/\n/, "<br />").html_safe if !@course.description.nil? %></p>
          <span><img src="/images/cs-07.gif">  </span></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><br>
<img src="/images/cs-08.gif" width="829" height="21"></td>
      </tr>
    </table>
    <article id="articleContent" class="peditor"> </article>
  </div><!--content-->
  	<h4><img src="/images/cs-09.gif"></h4>
  <div class="others">
	  <article>
	  	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <td width="28%"><div><img src="/images/sample/image01.jpg"><a href="#">指甲藝術 →</a></div></td>
		    <td width="8%">&nbsp;</td>
		    <td width="28%"><div><img src="/images/sample/image01.jpg"><a href="#">指甲藝術 →</a></div></td>
		    <td width="8%">&nbsp;</td>
		    <td width="28%"><div><img src="/images/sample/image01.jpg"><a href="#">指甲藝術 →</a></div></td>
		  </tr>
		</table>
	</article>
  </div>
</article>

<input id="article_content" style="display:none;" type="text" value="<%= @course.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();	
	});
</script>