
  <script src="/js/editor.js"></script>
  <script src="/js/editor_p.js"></script>
  <script src="/js/editor_img.js"></script>
  <script src="/js/editor_video.js"></script>
  
  
	<script src="/js/jquery.colorbox-min.js"></script>
	<script>
	$(document).ready(function(){
		$(".call-notes").colorbox({inline:true, width:970});
	});
	</script>

<link rel="stylesheet" href="/css/course.css">
<link rel="stylesheet" href="/css/colorbox.css">

<article id="course">
  <%= render 'instructions/intro' %>
  
  <div class="content">
    <div id="info">
      <div class="left"><%= (image_tag @course.cover.inner) unless @course.cover.file.nil? %></div>
      <div class="right">
        <h4><%= @course.name %></h4>
        <p><%= @course.description.gsub(/\n/, "<br />").html_safe if !@course.description.nil? %></p>
        <% if @course.price.to_i > 0 && @course.quota.to_i > 0 %>
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td colspan="2" class="price">剩餘名額   <%= @course.quota %><br>
            <% if !@course.price.nil? && @course.sell.nil? %>
              專業價 $ <%= @course.price %>
              <% elsif !@course.sell.nil? %>
              專業價 <del>$ <%= @course.price %></del><br>
              限時優惠 <b>$ <%= @course.sell %> </b>
             <% end %>
             </td>
          </tr>
          <tr>
            <td width="45%" valign="middle"><a href="#form" class="call-notes"><img src="/images/cs-10.gif"></a></td>
            <td width="55%" valign="top" class="text">線上填寫資料，我們將會<br>
              儘快為您服務</td>
          </tr>
          <tr>
            <td valign="middle"><a target="_blank" href="<%= @course.credit_form.file.nil? ? "javascript: alert('很抱歉，目前本課程還未接受線上刷卡，請聯絡本中心客服人員或填寫詢問單！'); return false;".html_safe : @course.credit_form %>"><img src="/images/cs-11.gif"></a></td>
            <td valign="top" class="text">下載刷卡單，填寫並回傳<br>
              單據，即有專人為您服務</td>
          </tr>
        </table>
        <% end %>
      </div>      
    </div>
    <div style='display:none'>
        <div id="form">
    <%= form_for [@instruction, @course, @inquirement] do | f | %>
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		    <th width="14%" align="right" valign="top"><b>&gt;</b> 姓 名</th>
		    <td width="86%"><%= f.text_field :name %></td>
		  </tr>
		  <tr>
		    <th align="right" valign="top"><b>&gt;</b> 電 話</th>
		    <td><%= f.text_field :phone %></td>
		  </tr>
		  <tr>
		    <th align="right" valign="top"><b>&gt;</b> 郵 件</th>
		    <td><%= f.text_field :email %></td>
		  </tr>
		  <tr>
		    <th align="right" valign="top"><b>&gt;</b> 內 容</th>
		    <td><%= f.text_area :description %></td>
		  </tr>
		  <tr>
		    <td colspan="2" align="center">
		    <br>
		    <br>
		    	<%= f.submit '', :class => 'button' %>
		    </td>
		    </tr>
		</table>
      <% end %>
		
      </div>
        <!--notes--> 
    </div>
    <article id="articleContent" class="peditor"> </article>
<div id="exp"><a href="<%= instruction_testimonies_path( @instruction, :anchor => :intro ) %>"><img src="/images/cs-15.jpg" width="369" height="49"></a></div>
  </div>
  
  
  	<h4><img src="/images/cs-09.gif"></h4>
  <div class="others">
	  <article>
	  	<table width="100%" border="0" cellspacing="0" cellpadding="0">
		  <tr>
		  <% @courses.each do | course | %>		  
		    <td width="28%"><div><img src="<%= course.cover.list %>"><a href="<%= instruction_course_path( @instruction, course ) %>"><%= course.name %> →</a></div></td>
		    <td width="8%">&nbsp;</td>
		  <% end %>
		  <% (0..(3-@courses.length) ).each do | i | %>
		    <td width="28%"><div>&nbsp;</div></td>
		    <td width="8%">&nbsp;</td>
		  <% end %>
		  </tr>
		</table>
	</article>
  </div>
</article>

<input id="article_content" style="display:none;" type="text" value="<%= @course.article.content %>">
<script>
	$(document).ready(function() {	
		editor.output();	
		
		$('#new_inquirement').submit(function() {
		
			var errors = '';
				
			if ( $('input[name="inquirement[name]"]').val().length <= 0 ) {
				errors += " 請寫上您的姓名 \n";
			}
			
			if ( $('input[name="inquirement[phone]"]').val().length <= 0 && $('input[name="inquirement[email]"]').val().length <= 0 ) {
				errors += " 請寫上您的電話或信箱（擇一） \n";
			} else if ( $('input[name="inquirement[email]"]').val().length > 0  && !$('input[name="inquirement[email]"]').val().match(/^[\w\.]+@[a-zA-Z0-9\-\_]+(\.[a-zA-Z]{2,3})+$/) ) {
				errors += "您的信箱填寫有誤";
			}
		
			if (errors) {
				alert( errors );
				return false;
			}
		});
		
	});
</script>