<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>您好，已收到您的訂單，正在處理中。</p>
  <p>下單時間 : <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  
  <div class="box"> 
    <p>明細 : </p>
    <% @ordersum = 0 %>
    <% @order.orderitems.select('orderitems.*, products.name, stocks.typename, stocks.product_id as productlink').joins('LEFT OUTER JOIN stocks on stocks.id = orderitems.stock_id').joins("LEFT OUTER JOIN products on products.id = stocks.product_id").each do |item| %>
    <% itemsum = item.itemprice.to_i * item.amount.to_i %>
    <% @ordersum = @ordersum + itemsum %>

    <p><%= link_to (item.name + ((item.typename && item.typename != "default") ? ("("+item.typename+")") : "") ), product_path(item.productlink) %> : $<%= item.itemprice %> / 訂購數量 : <%= item.amount %> = $<%= itemsum %></p>
    <% end %>

    <p>運費 : <%= @order.shippingfee %></p>
    <p>訂單金額 : <%= @ordersum + @order.shippingfee %></p>
  
  </div>
</body>
</html>