<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <p>您好，已將您訂購的商品寄出。</p>
  <p>下單時間 : <%= @order.created_at.strftime("%Y-%m-%d %H:%M") %></p>
  
  <div class="box"> 
    <p>明細 : </p>
    <% @ordersum = 0 %>
    <% @order.orderitems.select('orderitems.*, products.name').joins('LEFT OUTER JOIN products on products.id = orderitems.product_id').each do |item| %>
    <% itemsum = item.itemprice.to_i * item.amount.to_i %>
    <% @ordersum = @ordersum + itemsum %>

    <p><%= link_to item.name, product_path(item.product_id) %> : $<%= item.itemprice %> / 訂購數量 : <%= item.amount %> = $<%= itemsum %></p>
    <% end %>

    <p>訂單金額 : <%= @ordersum %></p>
  </div>

  <p>寄送方式 : <%= @order.shippingway %></p>
  <p>追蹤碼 : <%= @order.shippingcode %></p>
</body>
</html>