
  <link rel="stylesheet" type="text/css" href="/peditor/css/peditor.css">
  <script src="/peditor/js/editor.js"></script>
  <script src="/peditor/js/editor_p.js"></script>
  <script src="/peditor/js/editor_img.js"></script>
  <script src="/peditor/js/editor_list.js"></script>
  <script src="/peditor/js/editor_video.js"></script>

<%= form_for([:admin, @entry]) do |f| %>
  <% if @entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@entry.errors.count, "error") %> prohibited this admin_entry from being saved:</h2>

      <ul>
      <% @entry.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :article_id %><br />
    <%= f.number_field :article_id %>
  </div>
  <div class="field">
    <%= f.label :status %><br />
    <%= f.text_field :status %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<div id="editorPanel"></div>

<hr />
  
	<%= fields_for @entry.article do | a | %>
	
		<%= a.hidden_field :content, {:id => 'entry_content'} %>
	
	<% end %>


<section id="articleContent"></section>
  
<% end %>


<script type="text/javascript">
$("#submit").click(function(){
  $(this).parents("form:first").submit();
});


$(document).ready(function(){
	editor.init({ articleModel: 'entry', photoUpload: '../../peditor/<%= @entry.article.id %>/createPhoto' });

	$("#submit").click(function(e){
		e.preventDefault();

		if(!editor.isPostNotSent()){
			$("#edit_article_<%= @entry.article.id %>").submit();
		}
		else{
			editor.alert("段落編輯尚未完成。", "error");
		}
		
	});
});

</script>