<section class="content" id="index-list">
  <div class="quick"><p>購物車</p><span><%= @cartitems_count %></span>件<a href="/orders/cart">結帳</a></div>
  
  <% @products.each do |product| %>

  <div class="product">
  	<table width="100%" border="0" cellspacing="0" cellpadding="0">
  		<tr>
  			<td height="160"><%= link_to (product.cover && product.cover.length > 0) ? image_tag(product.cover) : "尚未上傳產品封面。", product %></td>
  		</tr>
  		<tr>
  			<td height="25" valign="top" class="name"><%= link_to product.name, product %></td>
  		</tr>
  		<tr>
  			<td class="price">
  				<% if product.saleprice %>
  				<span class="original">$ <%= product.price %></span><span class="special">$ <%= product.saleprice %></span>
  				<% else %>
  				$ <%= product.price %>
  				<% end %>
  			</td>
        </tr>
    </table>
  </div>
  <% end %>

</section>