<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description.html_safe %>
</p>

<p>
  <b>Amount:</b>
  <%= @product.amount %>
</p>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Saleprice:</b>
  <%= @product.saleprice %>
</p>

<p>
amount: <input id="addAmount" type="number" />
</p>

<%= link_to 'Add to cart', "#", :id => "addToCart" %>

<%= render 'cart' %>
<%= link_to 'Back', products_path %>

<%= render 'cart_js' %>

