<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @product.name %>
</p>

<p>
  <b>Description:</b>
  <%= @product.description.html_safe %>
</p>

<% if !@product.hasType %>
<p>
  <b>Amount:</b>
  <%= @product.stocks.first.amount %>
</p>
<% end %>

<p>
  <b>Price:</b>
  <%= @product.price %>
</p>

<p>
  <b>Saleprice:</b>
  <%= @product.saleprice %>
</p>

<p>
  amount: 
  
  <% if @product.hasType %>
  <select id="productType">
    <% @product.stocks.each do |stock| %>
    <option value='{"id":<%= stock.id %>, "name":"<%= @product.name %>(<%= stock.typename %>)" }'><%= stock.typename %><%= (": 庫存"+stock.amount.to_s+"個。") if stock.amount %></option>
    <% end %>
  </select>
  <% end %>
  
  <input id="addAmount" type="number" />
  <%= link_to 'Add to cart', "#", :id => "addToCart", :data => { :stockid => @product.stocks.first.id, :stockname => @product.name } %>
</p>


<%= render 'orders/cart' %>
<%= link_to 'Back', products_path %>

<%= render 'orders/cart_js' %>

