
  <script src="/js/editor.js"></script>
  <script src="/js/editor_p.js"></script>
  <script src="/js/editor_img.js"></script>
  <script src="/js/editor_video.js"></script>
    <header>
      <h2>專業課程</h2>
      <%= render 'admin/instructions/menu' %>
    </header>
    <article>
      <%= form_for([:admin, @instruction, @course]) do |f| %>
      <div class="title-edit">   
      <div class="button" id="button-up"> <a href="<%= admin_instruction_course_path( @instruction, @course ) %>" data-method="delete" data-confirm="確定刪除？" class="right">刪除課程<img src="/images/trash.png"></a></div>
        <h3>文章預覽</h3>     
        <div class="box">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="85%"> <%= f.text_field :name, :placeholder => '課程標題' %></td>              
              <td width="15%" align="center"><%= @course.created_at.strftime('%Y-%m-%d') %></td>
            </tr>
          </table>
        </div>
      </div>
      <!--title-edit-->
      
      <div class="box-edit">
        <div class="box">
          <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td width="10%" valign="top"><%= f.label :cover, '封面：' %></td>
              <td colspan="3" width="42%" valign="top">
              	<%= f.file_field :cover %><br /> <br />
              	<% unless @course.cover.file.nil? %>
              	<img style="width: 50%;" src="<%= @course.cover %>" />
              	<% end %>
              </td>
            </tr>
            <tr>
              <td width="8%" valign="top"><%= f.label :price, '原價：' %></td>
              <td width="40%" valign="top"><%= f.text_field :price, :class => :text %></td>
              <td width="10%" valign="top" align="center"><%= f.label :sell, '優惠價：' %></td>
              <td width="42%" valign="top"><%= f.text_field :sell, :class => :text %></td>
            </tr>
            <tr>
              <td width="8%" valign="top"><%= f.label :quota, '剩餘名額：' %></td>
              <td width="40%" valign="top"><%= f.text_field :quota, :class => :text %></td>
              <td width="10%" valign="top" align="center"><%= f.label :credit_form, '線上刷卡單：' %><br /> (2MB 以下)</td>
              <td width="42%" valign="top"><%= f.file_field :credit_form -%> 
              	<% unless @course.credit_form.file.nil? -%>
              	( 下載 <a href="<%= @course.credit_form %>">目前的刷卡單</a> )
              	<% end -%>
              </td>
            </tr>
            <tr>
              <td valign="top"><%= f.label :description, '簡介：' %></td>
              <td colspan="3" valign="top"><%= f.text_area :description %></td>
            </tr>
          </table>
        </div>
      </div>
            
      <div class="article-edit" id="editorPanel"></div>
      <!--edit-article-->           
      <div class="preview preview-edit" id="articleContent"></div>
      <!--preview-->
      <div class="button" id="button-down"> <a href="<%= admin_instruction_path( @instruction ) %>" class="left"><img src="/images/arrow-left.png">返回列表</a>
      <a href="javascript: document.forms[0].submit();" class="right light">儲存發佈<img src="/images/update.png"></a></div>
      <!--button--> 
      
      
	<%= f.fields_for @course.article do | a | %>
	
		<%= a.hidden_field :content, {:id => 'course_content'} %>
	
	<% end %>

      
       <% end %>
    </article>
    
  
<script type="text/javascript">
$("#submit").click(function(){
  $(this).parents("form:first").submit();
});


$(document).ready(function(){
	editor.init({ articleModel: 'course', photoUpload: '../../../../peditor/<%= @course.article.id %>/createPhoto' });

	$("#submit").click(function(e){
		e.preventDefault();

		if(!editor.isPostNotSent()){
			$("#edit_article_<%= @course.article.id %>").submit();
		}
		else{
			editor.alert("段落編輯尚未完成。", "error");
		}
		
	});
});

</script>