
<footer _height='none'>
  <div class="container">
  <a id="email" href="mailto:service@feya-spa.com.tw" target="_blank">&nbsp;</a>
    <nav><a href="<%= instructions_path %>">專 業 課 程 </a>│ <a href="<%= instruction_testimonies_path( Instruction.order('sort ASC, created_at ASC').first ) %>">學 員 見 證</a> │ <a href="<%= page_pages_path( :pagename =>  'professional' ) %>">專 業 師 資 </a>│ <a href="<%= categories_path %>">美 容 商 品 </a>│ <a href="<%= entries_path %>">最 新 消 息 </a>│ <a href="<%= page_pages_path( :pagename =>  'about' ) %>">關 於 霏 亞</a></nav>
    <p>桃園　桃園縣蘆竹鄉中正路308號18樓之2<br>
      台北　台北市中山區長安東路二段82號<br>
      鶯歌　新北市鶯歌區建國路66號5樓之3號<br>
      <span>Copyright © 霏亞國際 All Rights Reserved.</span></p>
  </div>
</footer>
