<!DOCTYPE html>
<html>
<head>
  <title>Cart:Admin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if session[:admin] %>
	<p><%= session[:admin].username %>, 你好。 <%= link_to "登出", admin_logout_path %> / <%= link_to "回首頁", root_path %></p>
	<ul class = "nav">
		<li><a href="/admin">商品管理</a></li>
		<li><a href="/admin/orders">訂單管理</a></li>
		<li>購物金規則</li>
	</ul>
	<% end %>

	<%= yield %>

</body>
</html>