<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>霏亞後台管理系統</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/admin/style.css">
<%= stylesheet_link_tag 'application' %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>


<script>
	$(document).ready(function() {		
	<% if !flash[ :notice ].nil? %>
		Alertify.log.success('<%= flash[ :notice ] %>');
	<% elsif !flash[ :warning ].nil? %>
		Alertify.log.error("<%= flash[ :warning ].html_safe %>");
	<% end %>
	
	
	
	});
</script>

</head>

<body>
<header id="header">
  <h1>祥譽後台管理系統</h1>
  <aside id="aside"> <a href="#" id="aside-1">index</a><a href="#" id="aside-2">Edit profile</a><a href="<%= admin_logout_path %>" id="aside-3">Log out</a> </aside>
</header>
<section id="container">
  <nav id="nav">
    <ul>
      <li><a href="<%= admin_categories_path %>"><img src="/images/box.png">商品管理</a></li>
      <li><a href="<%= admin_orders_path %>"><img src="/images/page.png">訂單管理</a></li>
      <li><a href="<%= admin_orderrefunds_path %>"><img src="/images/comments.png">客服管理</a></li>
      <li><a href="<%= admin_members_path %>"><img src="/images/group.png">會員列表</a></li>
    </ul>
    <ul>
      <li><a href="<%= admin_instructions_path %>"><img src="/images/book.png">專業課程</a></li>
      <li><a href="<%= admin_tickets_path %>"><img src="/images/shake.png">加盟資訊</a></li>
      <li><a href="<%= admin_testimonies_path %>"><img src="/images/woman.png">學員見證</a></li>
      <li><a href="<%= admin_entries_path %>"><img src="/images/news.png">最新消息</a></li>
    </ul>
    <ul>
      <li><a href="<%= admin_admins_path %>"><img src="/images/manager.png">管理者列表</a></li>
    </ul>
  </nav>
  <section id="content">
    <%= yield %>
  </section>
</section>
</body>
</html>

