<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>霏亞國際美容教育機構</title>
<link rel="SHORTCUT ICON" href="/images/favicon2.ico"/> 
<link rel="image_src" href="images/thumb.jpg"/> 
<meta name="keywords" content="霏亞國際, 美容市場, 美容教育, 職場應用"/>
<meta name="description" content="霏亞專業教育理念，課程即是職場應用。堅持教學師資，堅持品質永遠的小班教學。整合美容市場學習支援，開發多元化、多樣化教育類別，整合美容市場學習支援，開發多元化、多樣化教育類別" />
<meta property="og:title" content="霏亞國際美容教育機構"/>
<meta property="og:description" content="霏亞專業教育理念，課程即是職場應用。堅持教學師資，堅持品質永遠的小班教學。整合美容市場學習支援，開發多元化、多樣化教育類別，整合美容市場學習支援，開發多元化、多樣化教育類別"/>
<meta property="og:site_name" content="霏亞國際美容教育機構"/> 
<meta property="og:image" content="http://www.feya-one.com.tw/images/thumb.jpg"/> 
<meta name="DC.Rights" content="霏亞國際美容教育機構"/> 
<meta name="DC.Date" content="2013/12/20"/>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">

<%= javascript_include_tag "application" %>
<script src="/js/auto-full-height.min.js"></script>

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>

<script>
	$(document).ready(function() {		
	<% if !flash[ :notice ].nil? %>
		Alertify.log.success('<%= flash[ :notice ] %>');
	<% elsif !flash[ :warning ].nil? %>
		Alertify.log.error("<%= flash[ :warning ].html_safe %>");
	<% end %>
	
	});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-37779598-2', 'feya-one.com.tw');
  ga('send', 'pageview');

</script>

</head>

<body>
<header _height='none'>
  <div id="top">
    <div id="link"> <a id="fb" target="_blank" href="https://www.facebook.com/FeyaSpa"><img src="/images/fb.png" title="分享到塗鴉牆" /> │ </a> 
    
  	<% if current_member %>
	  	<a href="<%= service_root_path %>">帳戶 | </a> 
	  	<%= link_to "登出 │ ", destroy_member_session_path, :method => :delete %>
	 <% else %>  	
	 	<%= link_to "會員登入 │ ", new_member_session_path %>
  	<% end %>
  	<a href="/orders/cart">購物車</a> </div>
    <ul id="nav">
      <li id="nav-1" class="<%= 'active' if params[:controller] == 'instructions' || params[ :controller ] == 'courses' %>"><a href="<%= instructions_path %>">專業課程</a>
        <ul class="menu">
          <% Instruction.order( 'sort asc' ).each do | instruction | %>
          <li><a href="<%= instruction_path( instruction ) %>"><%= instruction.name %></a></li>
          <% end %>
        </ul>
      </li>
      <li id="nav-2" class="<%= 'active' if params[:controller] == 'testimonies' %>"><a href="<%= instruction_testimonies_path( Instruction.first ) %>">學員見證</a></li>
      <li id="nav-3" class="<%= 'active' if params[:pagename] == 'professional' %>"><a href="<%= page_pages_path( :pagename =>  'professional' ) %>">專業師資</a></li>
      <a id="home" href="<%= root_url %>"></a>
      <li id="nav-4" class="<%= 'active' if params[:controller] == 'categories' || params[ :controller ] == 'products' %>"><a href="<%= categories_path %>">美容商品</a>
        <ul class="menu">
          <% Category.order( 'lft asc' ).each do | category | %>
          <li><a href="<%= category_path( category ) %>"><%= category.name %></a></li>
          <% end %>
        </ul></li>
      <li id="nav-5" class="<%= 'active' if params[:controller] == 'tickets' %>"><a href="<%= new_ticket_path %>">加盟資訊</a></li>
      <li id="nav-6" class="<%= 'active' if params[:pagename] == 'about' %>"><a href="<%= page_pages_path( :pagename =>  'about' ) %>">關於霏亞</a></li>
    </ul>
  </div>
  <% if params[ :controller ] == 'static_pages' && params[ :action ] == 'index' %>  
	  <div id="banner">
		   <video autoplay preload loop width="1280" height="442">
		  <source src="/banner/banner.mp4" type="video/mp4" />
		  <source src="/banner/banner.ogv" type="video/ogg" />
		  <source src="/banner/banner.webm" type="video/web" />
		  </video>
	  </div>  
  <% else %>
  <div id="banner">    
  </div>
  <% end %>
</header>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>