<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>霏亞國際美容機構</title>
<link rel="SHORTCUT ICON" href="/images/favicon.ico"/> 
<link rel="image_src" href="images/thumb.jpg"/> 
<meta property="og:title" content="霏亞國際美容機構"/>
 <meta property="og:description" content="霏亞專業教育理念，課程即是職場應用。堅持教學師資，堅持品質永遠的小班教學。整合美容市場學習支援，開發多元化、多樣化教育類別，整合美容市場學習支援，開發多元化、多樣化教育類別"/>
 <meta property="og:site_name" content="霏亞國際美容機構"/> 
<meta property="og:image" content="http://www.feya-one.com.tw/images/thumb.jpg"/> 
<meta name="DC.Rights" content="霏亞國際美容機構"/> 
<meta name="DC.Date" content="2013/12/20"/>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">

<%= javascript_include_tag "application" %>
<script src="/js/auto-full-height.min.js"></script>

<%= stylesheet_link_tag    "application", :media => "all" %>
<%= csrf_meta_tags %>


</head>

<body>
<header _height='none'>
  <div id="top">
    <div id="link"> <a id="fb" target="_blank" href="http://www.facebook.com/sharer.php?s=100&p[url]=http://www.feya-one.com.tw&p[images][0]=http://www.feya-one.com.tw/images/thumb.jpg&p[title]=%e9%9c%8f%e4%ba%9e%e5%b0%88%e6%a5%ad%e6%95%99%e8%82%b2%e7%90%86%e5%bf%b5%ef%bc%8c%e8%aa%b2%e7%a8%8b%e5%8d%b3%e6%98%af%e8%81%b7%e5%a0%b4%e6%87%89%e7%94%a8&p[summary]=%e5%a0%85%e6%8c%81%e6%95%99%e5%ad%b8%e5%b8%ab%e8%b3%87%ef%bc%8c%e5%a0%85%e6%8c%81%e5%93%81%e8%b3%aa%e6%b0%b8%e9%81%a0%e7%9a%84%e5%b0%8f%e7%8f%ad%e6%95%99%e5%ad%b8%e3%80%82%e6%95%b4%e5%90%88%e7%be%8e%e5%ae%b9%e5%b8%82%e5%a0%b4%e5%ad%b8%e7%bf%92%e6%94%af%e6%8f%b4%ef%bc%8c%e9%96%8b%e7%99%bc%e5%a4%9a%e5%85%83%e5%8c%96%e3%80%81%e5%a4%9a%e6%a8%a3%e5%8c%96%e6%95%99%e8%82%b2%e9%a1%9e%e5%88%a5%ef%bc%8c%e6%95%b4%e5%90%88%e7%be%8e%e5%ae%b9%e5%b8%82%e5%a0%b4%e5%ad%b8%e7%bf%92%e6%94%af%e6%8f%b4%ef%bc%8c%e9%96%8b%e7%99%bc%e5%a4%9a%e5%85%83%e5%8c%96%e3%80%81%e5%a4%9a%e6%a8%a3%e5%8c%96%e6%95%99%e8%82%b2%e9%a1%9e%e5%88%a5"><img src="/images/fb.png" title="分享到塗鴉牆" /> │ </a> 
    
  	<% if current_member %>
	  	<a href="<%= service_root_path %>">帳戶 | </a> 
	  	<%= link_to "登出 │ ", destroy_member_session_path, :method => :delete %>
	 <% else %>  	
	 	<%= link_to "會員登入 │ ", new_member_session_path %>
  	<% end %><a href="/orders/cart">購物車</a> </div>
    <ul id="nav">
      <li id="nav-1" class="<%= 'active' if params[:controller] == 'instructions' || params[ :controller ] == 'courses' %>"><a href="<%= instructions_path %>">專業課程</a>
        <ul class="menu">
          <% Instruction.order( 'sort asc' ).each do | instruction | %>
          <li><a href="<%= instruction_path( instruction ) %>"><%= instruction.name %></a></li>
          <% end %>
        </ul>
      </li>
      <li id="nav-2" class="<%= 'active' if params[:controller] == 'testimonies' %>"><a href="<%= testimonies_path %>">學員見證</a></li>
      <li id="nav-3" class="<%= 'active' if params[:pagename] == 'professional' %>"><a href="<%= page_pages_path( :pagename =>  'professional' ) %>">專業師資</a></li>
      <a id="home" href="<%= root_url %>"></a>
      <li id="nav-4" class="<%= 'active' if params[:controller] == 'categories' || params[ :controller ] == 'products' %>"><a href="<%= categories_path %>">美容商品</a>
        <ul class="menu">
          <% Category.order( 'lft asc' ).each do | category | %>
          <li><a href="<%= category_path( category ) %>"><%= category.name %></a></li>
          <% end %>
        </ul></li>
      <li id="nav-5" class="<%= 'active' if params[:controller] == 'tickets' %>"><a href="<%= new_ticket_path %>">加盟資訊</a></li>
      <li id="nav-6" class="<%= 'active' if params[:pagename] == 'about' %>"><a href="<%= page_pages_path( :pagename =>  'about' ) %>">關於霏亞</a></li>
    </ul>
  </div>
  <div id="banner">    
  </div>
</header>
<%= yield %>
<%= render 'layouts/footer' %>
</body>
</html>