<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<meta name="Robots" content="index,follow"/>
<meta http-equiv="content-language" content="zh-TW" />
<title>霏亞國際美容教育機構</title>


<link rel="stylesheet" href="/css/reset.css">


  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  
<link rel="stylesheet" href="/css/style-m.css">
<link rel="stylesheet" href="/css/shopcart.css">
<script src="/js/auto-full-height.min.js"></script>


<script>
	$(document).ready(function() {		
	<% if !flash[ :notice ].nil? %>
		Alertify.log.success('<%= flash[ :notice ] %>');
	<% elsif !flash[ :warning ].nil? %>
		Alertify.log.error("<%= flash[ :warning ].html_safe %>");
	<% end %>
	
	});
</script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
  ga('create', 'UA-71712789-1', 'auto');
  ga('send', 'pageview');
</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');

fbq('init', '455062201343889');
fbq('track', "PageView");</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=455062201343889&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->

</head>

<body>
<header _height='none'>
  <div id="top">   
  <a href="<%= root_path %>" style="display: block;position: absolute;width: 160px;height: 100px; text-decoration: none;">&nbsp;</a>
  	<% if current_member -%>
  		<%= current_member.username -%> 您好 │<a href="<%= service_root_path -%>">帳戶</a> | <%= link_to "登出 ", destroy_member_session_path, :method => :delete -%> │
	 <% else -%>  	
	 	<%= link_to "會員登入", new_member_session_path -%> │
  	<% end -%>
<a href="/orders/cart">購物車</a> <img src="/images/sc-01.png"> <a id="back" href="<%= root_url %>">回首頁 &gt;</a></div>
</header>

<%= yield %>

<%= render 'layouts/footer' %>

</body>
</html>
