<!DOCTYPE html>
<html>
<head>
  <title>Service</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<% if current_member %>
	<%= current_member.email %> <%= link_to "登出", destroy_member_session_path, :method => :delete %>
	<% else %>
	<%= link_to "登入", new_member_session_path %>
	<% end %>
	<ul class = "nav">
		<li><a href="/">首頁</a></li>
		<li><a href="<%= service_root_path %>">顧客中心</a></li>
		<li><a href="/orders/cart">購物車</a></li>
	</ul>

	<div id="WRAPPER">
		<div id="SIDE">
			<ul>
				<li><a href="<%= service_orders_path %>">訂單</a></li>
				<li><a href="<%= edit_member_registration_path %>">修改會員資料</a></li>
				<li><a href="<%= service_addressbooks_path %>">常用收件人地址</a></li>
			</ul>
		</div>
		<div id="CONTENT">
			<%= yield %>
		</div>
	</div>

</body>
</html>
