<!doctype html>
<html>
<head>
<!--[if lt IE 9]>
<script src="/js/html5.js"></script>
<![endif]-->
<meta charset="utf-8">
<title>夏天廣告購物車系統</title>
<link rel="stylesheet" href="/css/reset.css">
<link rel="stylesheet" href="/css/style.css">
<%= javascript_include_tag "application" %>
<%= csrf_meta_tags %>
</head>

<body>
<header>
  <div id="tool">
  	<a href="/">首頁</a> <span>|</span> 
  	<a href="/orders/cart"><img src="/images/tool-3.png">購物車</a> <span>|</span> 
  	
  	<% if current_member %>
  	<a href="<%= service_root_path %>"><img src="/images/tool-2.png">帳戶</a> <span>|</span> 
  	<%= link_to "登出", destroy_member_session_path, :method => :delete %>
  	<% else %>
  	<%= link_to "登入", new_member_session_path %>
  	<% end %>

  </div>
</header>
<section id="container">
  <aside>
    <h3>會員中心</h3>
    <div class="side">
      <h4><a href="<%= service_orders_path %>"><img src="/images/li-close.png">訂單查詢</a></h4>
    </div>
    <div class="side">
      <h4><a href="<%= edit_member_registration_path %>"><img src="/images/li-close.png">會員資料</a></h4>
    </div>
    <div class="side">
      <h4><a href="/service/points"><img src="/images/li-close.png">購物金記錄</a></h4>
    </div>
    <div class="side">
      <h4><a href="<%= service_addressbooks_path %>"><img src="/images/li-close.png">常用地址設定</a></h4>
    </div>
    <!-- <div class="side">
      <h4><a href="#"><img src="/images/li-close.png">聯絡客服</a></h4>
    </div> -->
  </aside>
  <%= yield %>
</section>
<footer></footer>
</body>
</html>